<div class="overallMap">
  <%= gmaps(:markers => {"data" => @json}) %>
</div>

<div class="treeColumns featuresContainer">
    <span>
        Wifi <i class="icon-ok-sign"></i>
    </span>
    <span>
        Tomadas <i class="icon-ok-sign"></i>
    </span>
    <span>
        Acolhimento <i class="icon-ok-sign"></i>
    </span>
</div>

<div class="treeColumns featuresDescContainer bellowTheFold">
    <span>
        Os cafés selecionados têm wifi gratuito disponível para os clientes e...
    </span>
    <span>
        ... um número razoável de tomadas públicas.
    </span>
    <span>
        Os donos acolhem pessoas que queiram passar a tarde a trabalhar nos seus estabelecimentos.
    </span>
</div>

<div class="beNiceContainer bellowTheFold">
    <span class="lead">
        <i class="icon-start"></i>Sê simpático!<i class="icon-start"></i>
    </span>
</div>

<div class="treeColumns beNiceDescContainer bellowTheFold">
    <span>
        Mostra o teu agradecimento pelas condições do estabelecimento - retribui consumindo durante o teu tempo de permanência.
    </span>
    <span>
        Evita as horas de maior afluência, como as horas de almoço e de jantar.
    </span>
    <span>
        Utiliza apenas o espaço que necessitas (mesas, cadeiras, etc). Assim garantes o lugar a mais pessoas.
    </span>
</div>

<div class="descriptionContainer bellowTheFold">
    <span class="lead">
        Esta é uma plataforma para quem procura em Coimbra um café onde possa trabalhar ou estudar, e que esteja apto à utilização de computadores.
    </span>
</div>
