<div class="overallMap">
  <%= gmaps(:markers => {"data" => @json}, "map_options" => {:raw => "{scrollwheel: false}", :detect_location => true}) %>
</div>

<div class="featuresContainer row-fluid">
    <span class="span4">
        Wi-fi <i class="icon-ok-sign"></i>
    </span>
    <span class="span4">
        Tomadas <i class="icon-ok-sign"></i>
    </span>
    <span class="span4">
        Acolhimento <i class="icon-ok-sign"></i>
    </span>
</div>

<div class="featuresDescContainer bellowTheFold row-fluid">
    <span class="span4">
        Os cafés selecionados têm wifi gratuito disponível para os clientes.
    </span>
    <span class="span4">
        Existe um número razoável de tomadas públicas.
    </span>
    <span class="span4">
        Pessoas que queiram passar a tarde a trabalhar são bem recebidas.
    </span>
</div>

<div class="beNiceArea">
  <div class="subTitle beNiceContainer bellowTheFold">
      <span class="lead">
          <i class="icon-star"></i> Sê simpático! <i class="icon-star"></i>
      </span>
  </div>

  <div class="beNiceDescContainer bellowTheFold row-fluid">
      <span class="span4">
          <b>1.</b> <p>Retribui consumindo durante o teu tempo de permanência.</p>
      </span>
      <span class="span4">
          <b>2.</b> <p>Evita as horas de maior afluência, como as horas de almoço e de jantar.</p>
      </span>
      <span class="span4">
          <b>3.</b> <p>Utiliza apenas o espaço que necessitas (mesas, cadeiras, etc).</p>
      </span>
  </div>
</div>

<% if false %>
<div class="subTitle sobreContainer bellowTheFold">
    <span class="lead">
        <i class="icon-info-sign"></i> Sobre <i class="icon-info-sign"></i>
    </span>
</div>

<div class="descriptionContainer bellowTheFold">
    <span>
        <p>Encontra cafés em Coimbra onde podes trabalhar ou estudar, e que esteja apto à utilização de portáteis.</p>
        <!--<p>Podes sugerir novos locais enviando um email para <a href="mailto:random@email.com">aqui</a>.</p>-->
    </span>
</div>
<% end %>