<div class="overallMap">
  <%= gmaps4rails(@json) %>
</div>

<div class="featuresContainer">
    <span>
        Wifi <i class="icon-ok-sign"></i>
    </span>
    <span>
        Tomadas <i class="icon-ok-sign"></i>
    </span>
    <span>
        Acolhimento <i class="icon-ok-sign"></i>
    </span>
</div>

<div class="descriptionContainer">
    <span class="lead">
        Esta é uma plataforma para quem procura em Coimbra um café onde possa trabalhar ou estudar, e que esteja apto à utilização de computadores.
    </span>
</div>

<h1>DEBUG!</h1>

<ul>
  <% @places.each do |place| %>
    <li><%= place.name %> - <%= place.latitude %>, <%= place.longitude %></li>
  <% end %>
</ul>
