// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import "gmaps4rails";

.active_admin .map_container {
  padding: 0px;
  border-width: 0px;
  width: 400px !important;
  height: 200px !important;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.active_admin .map_container .gmaps4rails_map {
  width: 400px;
  height: 200px;
}

// Foursquare Venue Input

.active_admin ul#fs_search_results {
  margin-left: 20%;
  margin-top: 10px;

  li {
    a {
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;

      a {
        color: #0E5286;
        text-decoration: underline;
      }
    }
  }
}
